{% extends 'base.html' %}

{% load humanize %}{# https://docs.djangoproject.com/en/1.8/ref/contrib/humanize/#}

{% block content %}
{{ custom_data | lower }}

<br><a href="{% url 'news:news_index' %}">index</a>
<br>
{% for item in news %}
    <h1>{{ forloop.counter }}. {{ item.title }} <span style="color: gray">{{ item.updated_at | naturaltime }}</span></h1>
    <p>{{ item.body }}</p>
    <ul class="attachments">
        {% for x in item.attachment_set.all %}
            <a href="{{ MEDIA_URL }}{{ x.file }}">{{ x.name }}</a>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}