<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Самые горячие новости! Самая желтая пресса, что я могу</h1>

{% for item in news %}
    <b>{{ item.title }}</b><br />
    {{ item.body }}<br />
    {{ item.author }}<br />
    {{ item.updated_at }}<br />
    <br />
{% empty %}
    Пока новостей нет, ты можешь стать первым сегодня!
{% endfor %}

<br />

{% if request.user.is_authenticated %}
    {% if form %}
        <form action="" method="post">
            {% csrf_token %}
            {%  for field in form %}

            {% endfor %}
            {{ form.as_p }}
            <input type="submit" value="Опубликовать!"/>
        </form>
    {% endif %}

{% else %}
    Пожалуйста, войдите в свой аккаунт
{% endif %}

</body>
</html>